@import 'components/variables';
@import 'components/header';
@import 'components/content';
@import 'components/footer';
@import 'components/medias';
body{
    background-image: linear-gradient(black ,#1d1a4a);
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: white;
}