* {
  margin: 0%;
  padding: 0%; }

.header {
  margin: auto;
  width: 100%;
  height: 100px;
  list-style: none;
  display: flex;
  position: sticky;
  top: 0;
  background-color: black; }
  .header .nav {
    display: flex;
    width: 100%; }
    .header .nav .logo {
      font-size: larger;
      font-weight: bolder;
      display: flex;
      margin: auto;
      width: 30%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: white; }
    .header .nav .logo:hover {
      scale: 1.5;
      color: #5ee66c; }
    .header .nav .menu {
      margin: auto;
      list-style: none;
      padding: 0;
      width: 70%;
      height: 100%;
      max-width: 800px;
      justify-content: space-between;
      align-content: center;
      justify-content: center;
      display: flex; }
      .header .nav .menu li {
        width: 20%;
        display: inline-block;
        margin: auto;
        color: white;
        text-align: center;
        border-radius: 10px; }
      .header .nav .menu li:hover {
        background-color: #5ee66c;
        font-weight: bolder;
        color: black;
        cursor: pointer; }

/*FOTO E INFORMACION*/
.main {
  margin: auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .main .sobreMi {
    margin: auto;
    width: 100%;
    height: 400px;
    display: flex;
    box-sizing: border-box; }
    .main .sobreMi .texto {
      display: flex;
      flex-direction: column;
      width: 45%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      justify-content: center; }
      .main .sobreMi .texto__titulo {
        font-size: large;
        font-weight: bolder; }
    .main .sobreMi .foto {
      width: 75%;
      height: 100%;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
      justify-content: space-around; }
      .main .sobreMi .foto .img {
        justify-content: center;
        min-width: 150px;
        max-width: 300px;
        border-radius: 50%;
        border: 5px solid #5ee66c;
        width: 70%;
        margin: 20px; }
      .main .sobreMi .foto .descripcion {
        display: flex;
        width: 30%;
        box-sizing: border-box;
        justify-content: center;
        padding-top: 110px;
        text-align: center;
        font-weight: bold; }
  .main .competencias {
    margin-top: 100px;
    width: 100%;
    height: 50%;
    display: flex; }
    .main .competencias .habilidades {
      width: 50%;
      height: 100%; }
      .main .competencias .habilidades section {
        text-align: center; }
        .main .competencias .habilidades section p {
          font-weight: bolder; }
        .main .competencias .habilidades section ul {
          list-style: none;
          text-decoration: none; }
    .main .competencias .aplicaciones {
      width: 50%;
      height: 100%; }
      .main .competencias .aplicaciones .texto_app {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
        font-weight: bolder; }
      .main .competencias .aplicaciones .grid-container {
        justify-content: center;
        align-content: center;
        display: grid;
        grid-template-columns: 180px 180px 180px;
        grid-template-rows: 180px 180px; }
        .main .competencias .aplicaciones .grid-container .grid-item {
          margin: auto; }
          .main .competencias .aplicaciones .grid-container .grid-item p {
            text-align: center; }
          .main .competencias .aplicaciones .grid-container .grid-item i {
            font-size: 4rem;
            margin-left: auto;
            margin-right: auto; }

/*PORTFOLIO*/
.portfolio {
  width: 90%;
  height: 200px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center; }

.portfolio__texto {
  height: 10%;
  width: 90%;
  margin: auto;
  font-weight: bolder;
  text-align: center; }

.portfolio__proximamente1 {
  margin: auto;
  width: 30%;
  text-align: center; }

.portfolio__proximamente2 {
  margin: auto;
  width: 30%;
  text-align: center; }

.portfolio__proximamente3 {
  margin: auto;
  width: 30%;
  text-align: center; }

/*LOGOS*/
.fa-html5 {
  color: #db5816; }

.html5 {
  color: #db5816; }

.fa-css3-alt {
  color: #12ade0; }

.css {
  color: #12ade0; }

.fa-bootstrap {
  color: #8a0ecc; }

.bootstrap {
  color: #8a0ecc; }

.fa-sass {
  color: #db6bd8; }

.sass {
  color: #db6bd8; }

.fa-git {
  color: #de5131; }

.git {
  color: #de5131; }

.fa-github {
  color: #757575; }

.github {
  color: #757575; }

.footer {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  height: 400px; }
  .footer .contacto {
    width: 90%;
    margin: auto; }
  .footer .textoContacto {
    width: 90%;
    margin: auto;
    margin-top: 20px; }
  .footer .metodos {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    font-size: 4rem;
    justify-content: space-around;
    text-align: center; }
    .footer .metodos .texto-icono {
      font-size: small; }

/*LOGOS*/
.mail {
  color: #de1b1b; }

.linkedin {
  color: #2950cf; }

@media screen and (max-width: 768px) {
  * {
    font-size: x-small;
    margin: auto; }
  .main {
    width: auto;
    height: auto;
    margin: auto; }
  .foto {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .img {
    align-content: center;
    margin: auto; }
  .sobreMi {
    margin: auto;
    height: auto;
    width: auto;
    flex-direction: column; }
  .texto {
    margin: auto;
    margin-top: 80px; }
  .descripcion {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 110px; }
  .competencias {
    width: auto;
    height: auto;
    margin: auto;
    flex-direction: column; }
  .habilidades {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px; }
  .aplicaciones {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px; }
  .metodos {
    flex-direction: column;
    height: 60%;
    justify-content: space-around; } }

body {
  background-image: linear-gradient(black, #1d1a4a);
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  color: white; }
