/*FOTO E INFORMACION*/
#main{
    height: 100px;
}
.main{
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .sobreMi{
        margin: auto;
        width: 100%;
        height: 400px;
        display: flex;
        box-sizing: border-box;
        .texto{
            display: flex;
            flex-direction: column;
            width: 45%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            justify-content: center;
            &__titulo{
                font-size: large;
                font-weight: bolder;
            }
        }
        .foto{ 
            width: 75%;
            height: 100%;
            box-sizing: border-box;
            justify-content: center;
            display: flex;
            justify-content: space-around;
            .img{
                justify-content: center;
                min-width: 150px;
                max-width: 300px;
                border-radius: 50%;
                border: 5px solid $colorPrincipal;
                width: 70%;
                margin: 20px;
            }
            .descripcion{
                display: flex;
                width: 30%;
                box-sizing: border-box;
                justify-content: center;
                padding-top: 110px;
                text-align: center;
                font-weight: bold;

            }
            
        }
    }
    .competencias{
        margin-top: 100px;
        width: 100%;
        height: 50%;
        display: flex;
        .habilidades{
            width: 50%;
            height: 100%;
            section{
                text-align: center;
                p{
                    font-weight: bolder;
                }
                ul{
                    list-style:none;
                    text-decoration: none;
                }
            }
        }
        .aplicaciones{
            width: 50%;
            height: 100%;
            .texto_app{
                width: 100%;
                text-align: center;
                justify-content: center;
                align-content: center;
                font-weight: bolder;
            }
            .grid-container{
                justify-content: center;
                align-content: center;
                display: grid;
                grid-template-columns: 180px 180px 180px;
                grid-template-rows: 180px 180px;
                .grid-item{
                    margin:auto;
                    p{
                        text-align: center;
                        
                    }
                    i{
                        font-size: 4rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}




/*PORTFOLIO*/
#portfolio{
    height: 100px;
}
.portfolio{
    width: 90%;
    height: 200px;
    margin:auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.portfolio__texto{
    height: 10%;
    width: 90%;
    margin: auto;
    font-weight: bolder;
    text-align: center;

}
.portfolio__proximamente1{

    margin: auto;
    width: 30%;
    text-align: center;

}
.portfolio__proximamente2{

    margin: auto;
    width: 30%;
    text-align: center;
}
.portfolio__proximamente3{

    margin: auto;
    width: 30%;
    text-align: center;
}





/*LOGOS*/
.fa-html5{
    color: #db5816;
    
}
.html5{
    color: #db5816;
}
.fa-css3-alt{
    color: #12ade0;
}
.css{
    color: #12ade0;
}
.fa-bootstrap{
    color: #8a0ecc;
}
.bootstrap{
    color: #8a0ecc;
}
.fa-sass{
    color: #db6bd8;
}
.sass{
    color: #db6bd8;
}
.fa-git{
    color: #de5131;
}
.git{
    color: #de5131;
}
.fa-github{
    color: #757575;
}
.github{
    color: #757575;
}












