*{
    margin: 0%;
    padding: 0%;
}
.header{
    margin: auto;
    width: 100%;
    height: 100px;
    list-style: none;
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    .nav{
        display: flex;
        width: 100%;
        .logo{
            font-size: larger;
            font-weight: bolder;
            display: flex;
            margin: auto;
            width: 30%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .logo:hover{
            scale: 1.5;
            color:$colorPrincipal;
        }
        .menu{
            margin: auto;
            list-style: none;
            padding: 0;
            width: 70%;
            height: 100%;
            max-width: 800px;
            justify-content: space-between;
            align-content: center;
            justify-content: center;
            display: flex;
            li{
                width: 20%;
                display: inline-block;
                margin: auto;
                color: white;
                text-align: center;
                border-radius: 10px;
            }
            li:hover{
                background-color: $colorPrincipal;
                font-weight: bolder;
                color: black;
                cursor: pointer;
            }
        }
    }
}